<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <app-navbar [autenticado]="false"></app-navbar>
    <div class="body">
        <div class="row row-padre">
            <div class="col col-left">
                <img class="img1" src="../../../assets/End of season sale.png" alt="">
            </div>
            <div class="col col-right">

                <div class="row fila2">
                    <form action="">
                        <label for=""> {{'Usuario' | translate }} </label>
                        <input class="form-control" type="text" placeholder="Usuario">
                        <label for=""> {{'Contraseña' | translate }} </label>

                        <input class="form-control" type="password" placeholder="contraseña" aria-label="default input example">

                        <a routerLink="/registro">
                            <p>{{'¿No tienes una cuenta? Registrate'| translate}}</p>
                        </a>
                        <button class="btn btn-warning" type="submit"> {{'Ingresar' | translate }}  </button>

                        <button class="btn btn-primary" (click)="loginGoogle()" type="button"> {{'Google' | translate }}  </button>
                    </form>
                </div>

            </div>
        </div>
    </div>

</body>

</html>